.exit-button-container {
    width: 24px;
    height: 24px;

    flex: none;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.exit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
