.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /*transform: scale(0);*/
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.active {
    /*transform: scale(1);*/
    opacity: 1;
    pointer-events: all;
}

.modal-winner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    gap: 20px;

    position: relative;
    width: 352px;
    height: 349.36px;

    background: #FFFFFF;

    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 16px;
    transform: scale(0.5);
    transition: 0.4s all;
}

.show{
    transform: scale(1);
}

.winner-text {
    /*width: 295px;*/
    height: 36px;

    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin: 0;

    display: flex;
    align-items: center;
    text-align: center;

    color: #373745;

    flex: none;
    flex-grow: 0;
}

.gender-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 104px;
    height: 80px;

    flex: none;
    flex-grow: 0;
}

.gender-label-class {
    width: 30px;
    height: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    margin: 0;

    color: #373745;
    flex: none;
    order: 0;
    flex-grow: 0;
}